* { box-sizing: border-box;}
footer {position: fixed; bottom: 0;}
a, a:active {text-decoration: none;}
body { margin-top: 50px!important; background-color: #EFEFEF; background-image: url("Images/pexels-photo-old paper.jpeg")}
.navbar-header .search-form { display: inline-block; width: 380px; position: relative; top: 8px;margin-right: 30px;}
.navbar-header .txt-search {display: inline; color: #999999; background-color: #333333; border: 1px solid #484747; border-bottom-right-radius: 0; border-top-right-radius: 0;max-width: 330px; }
.navbar-header .txt-search:focus {border-color: #66afe9; }
.navbar-header #btn-search { display: inline-block; position: relative; right: 4px; height: 34px; width: 29px; padding: 0; background-color: #333333; border: 1px solid #484747; border-left:none; border-bottom-left-radius: 0; border-top-left-radius: 0;}
.navbar-header #btn-search:hover {background-color: #3a3a3a;}
.navbar-header #btn-search span {top: 3px; color: #999999;}
.switch { position: relative; top: 8px; display: inline-block; width: 12px; height: 21px; float: right;}
.switch::before {content: 'Title'; color: white; transition: color 0.5s;letter-spacing: 0.5px;}
.switch::after {content: 'Author'; color: #999999; transition: color 0.5s;}
.switch::before, .switch::after {font-size: 9px; position: relative; left: 15px; top: -12px; font-weight: 100;}
.switch.active::before {color: #999999;}
.switch.active::after {color: white;}
.switch #chkSwitch {display:none;}
.slider { position: absolute; cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #3e3e3e; border: 1px solid #616060;border-radius: 34px;-webkit-transition: .4s; transition: .4s;}
.slider:before {position: absolute;content: "";height: 8px;width: 8px;left: 1px;bottom: 9px;background-color: #66afe9;border-radius: 50%;-webkit-transition: .4s;transition: .4s;}
#chkSwitch:focus + .slider { box-shadow: 0 0 1px #2196F3;}
#chkSwitch:checked + .slider:before {  -webkit-transform: translateY(7px);  -ms-transform: translateY(7px);  transform: translateY(7px);}

#sidebar {position:fixed; top: 50px; left: 0; height: 100%;display: inline-block;}
#sidebar ul {padding: 0;}
#sidebar .genre-link {height: 50px;line-height: 50px; list-style:none;background-color: rgba(243, 245, 245, 0.15);}
#sidebar .genre-link.active {background-color: #EFEFEF; opacity: 0.4; border-left: 1px solid #6d6d6d;}
#sidebar .genre-link a, #btn-genre { display: inline-block; height: 50px; width: 100%; padding:0 25px; font-size: 17px; border-bottom: 1px solid #dcd6d1; color: #cacaca;}
#sidebar .genre-link.active a:hover {opacity: 1;}
#sidebar .genre-link.active a {font-weight: bold; letter-spacing: 1px; padding-left: 30px;border-bottom: 1px solid #616161;}
#sidebar .genre-link a:hover, #sidebar .genre-link.active a {background-color: #EFEFEF; color: #4a4a4a; text-decoration: none; }
#sidebar .genre-link a:hover{opacity: 0.4;}

.flex-container { display: flex; flex-wrap: wrap; justify-content: space-around;width: 1000px; max-width: 83%;background-color: rgba(243, 245, 245, 0.18); border-radius: 6px; padding-top: 5px;}
.flex-container #no-data { height: 200px; line-height: 200px;font-weight: bold;color: rgba(31, 31, 31, 0.47);font-size: 24px;}
.flex-item { width: 300px; max-width: 30%; margin: 10px; box-shadow: 0 1px 5px #848282; text-align: center; background-color: #fff; transition: box-shadow 0.2s; display: none; }
.flex-item:hover {box-shadow: 0 2px 18px #828282; cursor: pointer; border-radius: 3px;}
.flex-item:hover .book-icons a {color: #e6e6e6;}
.flex-item img {box-shadow: 0 0 9px 0px #868484;}
.flex-item .title {position:relative; font-size: 17px; border-bottom: 1px solid #E2E2E2; padding: 15px 5px; letter-spacing: 0.2px;}
.flex-item .book-icons a {color: #ffffff;}
.flex-item .book-icons .book-edit { position: absolute; top: 4px; right: 4px;}
.flex-item .book-icons .book-edit:hover {color: #00b100;}
.flex-item .book-icons .book-delete { position: absolute; top: 30px; right: 4px;}
.flex-item .book-icons .book-delete:hover {color: red;}
.flex-item .author {font-size: 16px; margin-top: 10px;}

.to-top { position: fixed; right: 50px; bottom: 0; width: 30px; height: 30px; box-shadow: 0 0 5px #776c62; text-align: center; background-color:rgba(243, 245, 245, 0.83); cursor: pointer;z-index: 100; display: none;}
.to-top span.glyphicon {top: 5px; color: #999999;}

#bookInfo { background-color: rgba(255, 255, 255, 0.9); padding: 15px; text-align: justify;z-index: 50;}
#bookInfo #title {font-weight: bold; font-size: 16px;}
#bookInfo #subtitle {font-style: italic; margin-top: -7px; margin-bottom: 15px;}
#bookInfo img {box-shadow: 0 0 9px 0px #868484;}
#bookInfo #close-bookInfo { position: absolute; top: 5px; right: 5px; color: #999999; cursor: pointer;}
#bookInfo #close-bookInfo:hover {color: #484848;}
#bookInfo #description { max-height: 50vh; overflow-y: auto; padding-right: 7px; margin-right: -16px; }

#add-book-popup { max-width: 640px; margin: 0px auto 0px -320px; box-shadow: 0px 0px 10px rgb(174, 174, 174); position: fixed; top: 120px; left: 50%; margin-left: -350px; z-index: 100; color: #6d6d6d; background-color: white; }
#add-book-popup select {max-width: 100%;}
#add-book-popup .top-bar {width: 100%; height: 45px; line-height: 45px; text-align: center; font-size: 17px; font-weight: bold; background-color: #EFEFEF; align-content: center; box-shadow: 0 1px 6px 0px #bbb9b9;}
#add-book-popup .x-close {position: relative;top: 11px;right: 8px;}
#add-book-popup .form-wrap {padding: 35px; }
#add-book-popup .form-group label {text-align: right; padding-top: 6px; }
#add-book-popup .form-group {padding-top: 25px;}
#add-book-popup .ddl-genre {width: 90%; border-top-right-radius: 0; border-bottom-right-radius: 0;}
#add-book-popup #btn-add-genre {width: 10%; padding: 6px 2px; margin-left: -1px; font-family: monospace; font-size: 12px; line-height: 20px; border-top-left-radius: 0; border-bottom-left-radius: 0;}
#add-book-popup .txt-add-genre { position:absolute; top: 0; width:286px; max-width: 74%;}
#add-book-popup #btn-submit-genre {position: absolute; top: 0; right: 15px; padding: 6px;}
#add-book-popup #update-cover { margin-top: 30px;}
#add-book-popup #update-cover img { margin-left: 17px; box-shadow: 0 0 9px 0px #868484;}
#add-book-popup .save-buttons {margin-top: 20px; margin-bottom: 85px; text-align: center;}

.error-msg {color: red; font-size: 11px;}

@media (max-width: 1762px){
    #bookInfo {background-color: rgba(255, 255, 255, 0.98); padding: 60px; position: absolute; top: 100px; width: 40%; left: 30%; box-shadow: 0 0 9px #afabab;}
    .flex-container { max-width: 80%; }
}

@media (max-width: 1550px) {
    .flex-item { width: 45%; max-width: 45%; }
     #bookInfo {width: 60%; left: 20%; }
}

@media (max-width: 991px) {
    .flex-container { max-width: 80%; position: relative; left: 10%;}
    #bookInfo {background-color: rgba(255, 255, 255, 0.96); padding: 45px; top: 100px; width: 80%; left: 10%;}
    .to-top {right: 0;}
}

@media (max-width: 860px) {
    body { margin-top: 80px!important;}
    .flex-item { width: 100%; max-width: 100%; }
    .book-details {margin-left: -15px;}
}

@media (max-width: 768px) {
    #add-book-popup {position:static; width: 80%; margin: 100px auto 0 auto;}
    #add-book-popup .form-group {padding-top: 0;}
    #add-book-popup .ddl-genre {width: 89%; display: inline-block;}
    #add-book-popup .save-buttons {margin: 0; padding-bottom: 20px;}
}

@media (max-width: 628px) {
    body {margin-top: 120px!important;}
    .navbar-header .search-form {margin-left:5px; width: 280px; display: block;}
    .navbar-header .txt-search{max-width: 230px;}
    #sidebar {top:72px;}
    .navbar-inverse {height: 72px;}
    .navbar-inverse a.navbar-brand {padding: 7px 5px; float:none; }
    #myGenres .genre-link {background-color: rgba(222, 203, 184, 0.7);}
    #myGenres .genre-link a { color: #4c4c4c;}
}

@media (max-width: 576px) {
    #bookInfo {padding: 8px;}
    #bookInfo #description {margin-right: -9px; }
    #add-book-popup .ddl-genre {width: 88%;}
}