* { box-sizing: border-box;}
body { margin-top: 50px!important; background-color: #EFEFEF;}

#sidebar {position:fixed; top: 50px; left: 0; width: 250px; height: 100%; background-color: #F3F5F5; display: inline-block;}
#sidebar ul {padding: 0;}
#sidebar .genre-link {height: 50px;line-height: 50px; list-style:none;}
#sidebar .genre-link.active {background-color: #EFEFEF; border-left: 1px solid #6d6d6d;}
#sidebar .genre-link a { display: inline-block; height: 50px; width: 100%; padding-left: 25px; font-size: 18px; border-bottom: 1px solid #dcd6d1; color: #999999;}
#sidebar .genre-link.active a {color: #ea6e00; font-weight: bold; letter-spacing: 1px; padding-left: 30px;} /*color: #6d6d6d;*/
#sidebar .genre-link a:hover, #sidebar .genre-link a:active {background-color: #EFEFEF; text-decoration: none; }

.flex-container { display: flex; flex-wrap: wrap; justify-content: space-around; /*margin: 0 auto;*/ width: 1000px; max-width: 90%; background-color: #F3F5F5; border-radius: 6px; padding-top: 5px;}
.flex-item { width: 300px; max-width: 30%; margin: 10px; box-shadow: 0 1px 5px #848282; text-align: center; background-color: #fff; transition: box-shadow 0.2s; display: none; }
.flex-item:hover {box-shadow: 0 2px 18px #828282; cursor: pointer; border-radius: 3px;}
.flex-item:hover .book-icons a {color: #e6e6e6;}
.flex-item img {box-shadow: 0 0 9px 0px #868484;}
.flex-item .title {position:relative; font-size: 17px; border-bottom: 1px solid #E2E2E2; padding: 15px 5px; letter-spacing: 0.2px;}
.flex-item .book-icons a {color: #ffffff;}
.flex-item .book-icons .book-edit { position: absolute; top: 4px; right: 4px;}
.flex-item .book-icons .book-edit:hover {color: #00b100;}
.flex-item .book-icons .book-delete { position: absolute; top: 30px; right: 4px;}
.flex-item .book-icons .book-delete:hover {color: red;}
.flex-item .author {font-size: 16px; margin-top: 10px;}

.to-top { position: fixed; right: 50px; bottom: 40px; width: 30px; height: 30px; border: 1px solid #999999; text-align: center; background-color: #F3F5F5; cursor: pointer; display: none;}
.to-top span.glyphicon {top: 5px; color: #999999;}

/*#bookInfo { position: fixed; top: 100px; right: 50px; width: 400px; background-color: #fff; padding: 15px; text-align: justify; max-height: 85vh; overflow-y: auto;}*/
#bookInfo { background-color: #fff; padding: 15px; text-align: justify; max-height: 88vh; overflow-y: auto;}
#bookInfo #title {font-weight: bold; font-size: 16px;}
#bookInfo #subtitle {font-style: italic; margin-top: -7px; margin-bottom: 15px;}
#bookInfo img {box-shadow: 0 0 9px 0px #868484;}

#newBookModal { overflow-y: hidden;}
#add-book-popup {height: 460px; width: 640px; margin: 0px auto 0px -320px; box-shadow: 0px 0px 10px rgb(174, 174, 174); position: fixed; top: 120px; left: 50%; margin-left: -350px; z-index: 100; color: #6d6d6d; background-color: white; }
#add-book-popup select {max-width: 100%;}
#add-book-popup .top-bar {width: 100%; height: 45px; line-height: 45px; text-align: center; font-size: 17px; font-weight: bold; background-color: #EFEFEF; align-content: center; box-shadow: 0 1px 6px 0px #bbb9b9;}
#add-book-popup .x-close {position: relative;top: 11px;right: 8px;}
#add-book-popup .form-wrap {padding: 35px; }
#add-book-popup .form-group label {text-align: right; padding-top: 6px; }
#add-book-popup .form-group {padding-top: 25px;}
#add-book-popup .save-buttons {margin-top: 45px;}

@media (max-width: 767px) { 
    body { margin-top: 80px!important;}
    /*.flex-container { width: 90%;}*/
    /*.flex-item {width: 100%; max-width: 100%;}*/
}

@media (max-width: 1550px) {
    .flex-item { width: 45%; max-width: 45%; }
    .book-details {margin-left: -30px;}
}

@media (max-width: 1080px) {
    .flex-item { width: 100%; max-width: 100%; }
    .book-details {margin-left: -15px;}
}