@model IEnumerable<MvcMyLibrary.Models.Genre>

<input type="button" class="btn btn-block" data-toggle="modal" data-id="0" data-target="#newBookModal" value="Add Book" />
<ul>
    @foreach (var genre in @Model)
    {
        <li class="genre-link" id="@genre.GenreId">
            @Html.ActionLink(genre.GenreName, "IndexGenre", new { GenreId = genre.GenreId })
        </li>
    }
</ul>