@model IEnumerable<MvcMyLibrary.Models.Genre>

Hello from SideBar
<ul>
    @foreach (var genre in @Model)
    {
        <li>
            @Html.ActionLink(genre.GenreName, "IndexGenre", new { GenreId = genre.GenreId })
        </li>
    }
</ul>