@model IEnumerable<MvcMyLibrary.Models.Genre>


<ul>
    @foreach (var genre in @Model)
    {
        <li class="genre-link">
            @Html.ActionLink(genre.GenreName, "IndexGenre", new { GenreId = genre.GenreId })
        </li>
    }
</ul>